<html>

<head>
  <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>
  <style>
    html {
      background-color: #1e1e1e;
      color: #fff;
    }
  </style>
</head>

<body>
  <h1>Users</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Created At</th>
      <th></th>
    </tr>
    {{#each users}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.username}}</td>
      <td>{{this.created_at}}</td>
      {{#if this.deleted}}
      <td><button disabled>User deleted</button></td>
      {{else}}
      <td><button hx-delete="/user/{{this.id}}" hx-swap="outerHTML">Delete</button></td>
      {{/if}}
    </tr>
    {{/each}}
  </table>
</body>

</html>