{% extends "base.html" %}

{% block title %}Users{% endblock title %}

{% block content %}
<table>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Create Time</th>
    <th>Session Count</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{ user.id }}</td>
    <td>{{ user.name }}</td>
    <td>{{ user.create_time }}</td>
    <td>{{ user.session_count }}</td>
    <td>
      <a href="/user/{{ user.id }}">
        <button>View</button>
      </a>
    </td>
    {% if user.deleted %}
    <td><button disabled>User deleted</button></td>
    {% else %}
    <td>
      <button hx-delete="/user/{{ user.id }}" hx-swap="outerHTML"
        hx-confirm="Are you sure you want to delete {{ user.name }}?">
        Delete
        <div class="spinner-container htmx-indicator">
          <div class="spinner"></div>
        </div>
      </button>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock content %}